<div class="modal">
  <div class="modal-header">
    &nbsp;
    <h3 class="pull-left">创建缓存</h3>
  </div>
  <div class="modal-body">
    <div class="progress progress-striped active" id="loading">
      <div class="bar" style="width: 100%;">正在创建缓存...</div>
    </div>
    <div id="installSuccess" class="hide">
      <blockquote>
        <p>安装完成，你可以：</p>
      </blockquote>
      <ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail">
            <h3>关注DiliCMS</h3>
            <p>
              <a href="http://weibo.com/dilicms" target="_blank">新浪微博</a>
              <a href="http://t.qq.com/dilicms" target="_blank">腾讯微博</a>
            </p>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <h3>交流经验</h3>
            <p>
              QQ群: 185074106
              <a href="https://github.com/DiliCMS/DiliCMS" target="_blank">GitHub</a>
              <a href="http://www.dilicms.com" target="_blank">官网</a>
            </p>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
              <h3>使用说明(部分)</h3>
              <p><a target="_blank" href="http://github.com/DiliCMS/DiliCMS/wiki">点此进入</a></p>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <h3>管理后台</h3>
            <p><a id="adminUrl" href="javascript:void(0);">点此进入</a></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-footer"></div>
</div>