.fuelux .container, .fuelux .span12 {
	width: 940px;
}

.fuelux .modal {
	position: relative;
	margin-top: 10px;
	width: 900px;
	margin-left: -450px;
}

.fuelux .modal-header {
	padding: 9px 15px 18px;
}

.fuelux .well {
    background: #fff;
    padding-top: 100px;
    padding-bottom: 40px;
    margin-top: 50px;
    background: url(../images/logo.png) 10px 10px no-repeat;
}

.btn {
    cursor: pointer;
}